.cart-page {
  display: flex;
  gap: 20px;
  margin: 20px;
  .cart-page-left {
    background: white;
    padding: 20px;
    h1 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    hr {
      border: none;
      height: 1px;
      background: #dadada;
    }
  }
  .cart-product-list {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
    .cart-product-title-price {
      display: flex;
      gap: 20px;
      font-size: 18px;
    }
  }
  .cart-product-bestseller{
    font-size: 12px;
    margin-top: 10px;
    span{
        font-size: 13px;
        background: #c45500;
        color: white;
        padding: 3px 8px;
    }
  }
  .cart-product-stock{
    font-size: 13px;
    color: #007600;
    margin: 4px 0;
  }
  .cart-product-deliver{
    font-size: 15px;
  }
  .cart-product-return{
    font-size: 15px;
    color: #007185;
    font-weight: 400;
  }
  .cart-product-gift{
    font-size: 13px;
    margin: 3px 0;
    color: #494949;
    span{
        color:#007185 ;
    }
  }
  .cart-product-specs{
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0;
  }
  .cart-list-action{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
    hr{
        height: 20px;
        width: 1px;
        background: #cfcfcf;
    }
    select{
        padding: 5px;
        border-radius: 6px;
        background: #f3f3f3;
    }
  }
  .cart-product-list-total{
    text-align: right;
    font-size: 20px;
    margin-top: 10pxx;
  }
}
.cart-page-right{
    background: white;
    padding: 20px;
    max-height: 220px;
    min-width: 280px;
    .cart-free-delivery{
        display: flex;
        font-size: 13px;
    }
    .cart-total{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    .cart-right-gift{
        margin: 7px 0;
        font-size: 14px;
    }
    button{
        width: 100%;
        height: 32px;
        margin: 15px 0;
        background: #ffd814;
        border: none;
        border-radius: 8px;
        cursor: pointer;

    }
    button:hover{
        background:#ebc712;
    }
}
.footer-cart{
    margin-top: 50px;
}

/* media query */

@media only screen and (max-width:900px){
      .cart-page{
        flex-wrap: wrap;
      }
}
@media only screen and (max-width:600px){
  .cart-product-list{
   padding: 24px 0 ;
  }
  .cart-product-list img{
    width: 80px;
  }
  .cart-product-title-price{
    flex-wrap: wrap;
    font-size: 14px;
  }
  .cart-product-deliver{
    font-size: 13px;
  }
 .cart-page-right{
  min-width: 100%;
 }
         
  
}